.border {
 border-radius: 34px;
border: 1px solid var(--Bg-2, rgba(255, 255, 255, 0.08));
background: linear-gradient(268deg, rgba(254, 254, 255, 0.03) -11.04%, rgba(255, 255, 255, 0.02) 104.89%);
box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
}